/* @import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Rashi+Hebrew:wght@100&family=Noto+Serif+Hebrew&family=Whisper&display=swap'); */
:root{
  --background: #F3F3F3;
  --backgroundNavbar: #0766AD;
  --backgroundFooter: #0766AD;
  --textColorWhite: white;
  --textColor: #000000;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  max-width: 100%;
  overflow-x: hidden;
  /* background-image: linear-gradient(to bottom right, white,white); */
}

/* 
.dark {
  --background: black;
  --textColor: #ddd;
}


.light {
  --background: white;
  --textColor: black;
} */


.container {
  min-height: 100vh;
  color: var(--textColor);
 
}