.continaer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  height: 100%;
  width: 100%;
  /* background-image: url("../../public/asset/pic/pexels-pixabay-461284.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}
/* 
.continaer::before{
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 115%;
  background-color: rgba(0, 0, 0, 0.8);
} */

